global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
    scrape_interval: 10s

  - job_name: 'chatbot-api'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['host.docker.internal:8001']
    scrape_interval: 10s
    metrics_path: /metrics

  - job_name: 'search-api' 
    static_configs:
      - targets: ['host.docker.internal:8000']
    scrape_interval: 10s
